body{
    background:  rgb(0, 10, 12);
}

.fondo{
    height: calc(100vh - 56px);
    /* height: auto; */
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    padding: 0;
}

.contenido{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* .pelicula-poster-imagen{
    display: flex;
    justify-content: center;
} */

.poster{
    width: 90%;
}


.trailer{
    cursor:pointer;
}